html{
    box-sizing: border-box;
    font-size: 65.2%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    padding: 0;
    margin: 0;
    background: rgb(33,5,204);
    background: linear-gradient(242deg, rgba(33,5,204,1) 23%, rgba(104,0,255,1) 82%);     
    height: 100vh;
}
.calculadora{
    background-color: #ae76ff;
    display: block;
    max-width: 40rem;
    margin: auto auto;
    padding: 2rem;
    box-shadow: 0px 3px 13px 1px rgb(0 0 0 / 9%);
    border-radius: 1rem;
}
.contenedor-calculadora{
    height: 100%;
    display: flex;
    justify-content: center;
}
.botones{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.btn-finales{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}
button{
    height: 8rem;
    font-size: 4rem;
    color: #2403ed;
    background-color: #c59cff;
    font-weight: 700;
    border-style: none;
}
button:hover{
    color: #1801a9;
}

.bg-operador{
    background-color: #1e05a6;
    color: #d2b2ff;
}
.bg-operador:hover{
    color: #dec6ff;
}

.pantalla{
    appearance: textfield;
    width: 100%;
    font-size: 7rem;
    margin: 3rem 0;
    background-color: #c59cff;
    color: #2403ed;
    text-align: end;
    border-style: none;
    font-family: 'Orbitron', sans-serif;
}